html, body, #wrap {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: #4EA6EA;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;
}

header h1 {
  width: 600px;
  margin: 25px auto 0 auto;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 38px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  color: #4EA6EA;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  padding: 10px;
}

section.list h3 {
  width: 600px;
  padding: 8px 0;
}

.heroes {
  min-height: 75px;
  margin: 0 auto;
  width: 600px;
  background-color: white;
  position: relative;
  margin-top: 110px;
  text-align: center;
}

.heroes .hero {
  width: 30%;
  float: left;
  padding: 10px 0;
}

.heroes .seperator {
  min-height: 75px;
  min-width: 4.5%;
  float: left;
  line-height: 75px;
  color: #4EA6EA;
  font-weight: bold;
  font-size: 20px;
}

section.list {
    min-height: 75px;
    margin: 0 auto;
    width: 600px;
    background-color: white;
    position: relative;
    margin-top: 35px;
}

section .add {
  background-color: #7BD023;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 43px;
  color: white;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

section .add:hover {
  background-color: #76c721;
}

ul {
  list-style: none;
}

ul.copy10 {
  margin: 20px auto;
}

ul.copy10 > li {
  padding: 10px;
  border-left: 1px solid #4EA6EA;
  border-right: 1px solid #4EA6EA;
  border-bottom: 1px solid #4EA6EA;
}

ul.copy10 > li:first-child {
  border-top: 1px solid #4EA6EA;
}

footer {
  background-color: #4EA6EA;
  padding-top: 10px;
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
}